<?xml version="1.0"?>
<config>
    <modules>
        <Yavva_AlsoViewed>
            <version>1.0.0</version>
        </Yavva_AlsoViewed>
    </modules>

    <global>
        <blocks>
            <alsoviewed>
                <class>Yavva_AlsoViewed_Block</class>
            </alsoviewed>
        </blocks>
        <helpers>
            <alsoviewed>
                <class>Yavva_AlsoViewed_Helper</class>
            </alsoviewed>
        </helpers>
        <models>
            <alsoviewed>
                <class>Yavva_AlsoViewed_Model</class>
                <resourceModel>alsoviewed_resource</resourceModel>
            </alsoviewed>
            <alsoviewed_resource>
                <class>Yavva_AlsoViewed_Model_Resource</class>
                <entities>
                    <log>
                        <table>yavva_alsoviewed_log</table>
                    </log>
                    <relation>
                        <table>yavva_alsoviewed_relation</table>
                    </relation>
                </entities>
            </alsoviewed_resource>
        </models>
        <resources>
            <yavva_alsoviewed_setup>
                <setup>
                    <module>Yavva_AlsoViewed</module>
                </setup>
            </yavva_alsoviewed_setup>
        </resources>
    </global>

    <frontend>
        <translate>
            <modules>
                <Yavva_AlsoViewed>
                    <files>
                        <default>Yavva_AlsoViewed.csv</default>
                    </files>
                </Yavva_AlsoViewed>
            </modules>
        </translate>
        <layout>
            <updates>
                <alsoviewed>
                    <file>yavva/alsoviewed.xml</file>
                </alsoviewed>
            </updates>
        </layout>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <alsoviewed>
                        <class>alsoviewed/observer</class>
                        <method>catalogProductView</method>
                    </alsoviewed>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

    <crontab>
        <jobs>
            <alsoviewed_process_log>
                <schedule>
                    <cron_expr>35 1 * * *</cron_expr> <!-- Every Day at 1:35AM -->
                </schedule>
                <run>
                    <model>alsoviewed/observer::processLog</model>
                </run>
            </alsoviewed_process_log>
        </jobs>
    </crontab>

    <default>
        <alsoviewed>
            <content>
                <enabled>1</enabled>
                <mode>grid</mode>
                <products_count>4</products_count>
                <column_count>4</column_count>
            </content>
            <left>
                <enabled>1</enabled>
                <mode>list</mode>
                <products_count>4</products_count>
                <column_count>4</column_count>
            </left>
            <right>
                <enabled>1</enabled>
                <mode>list</mode>
                <products_count>4</products_count>
                <column_count>3</column_count>
            </right>
        </alsoviewed>
    </default>
</config>
