<?xml version="1.0"?>
<config>
    <modules>
        <Yavva_Alsoviewed>
            <version>1.3.0</version>
        </Yavva_Alsoviewed>
    </modules>

    <global>
        <blocks>
            <alsoviewed>
                <class>Yavva_Alsoviewed_Block</class>
            </alsoviewed>
        </blocks>
        <helpers>
            <alsoviewed>
                <class>Yavva_Alsoviewed_Helper</class>
            </alsoviewed>
        </helpers>
        <models>
            <alsoviewed>
                <class>Yavva_Alsoviewed_Model</class>
                <resourceModel>alsoviewed_resource</resourceModel>
            </alsoviewed>
            <alsoviewed_resource>
                <class>Yavva_Alsoviewed_Model_Resource</class>
                <entities>
                    <log>
                        <table>yavva_alsoviewed_log</table>
                    </log>
                    <relation>
                        <table>yavva_alsoviewed_relation</table>
                    </relation>
                </entities>
            </alsoviewed_resource>
        </models>
        <resources>
            <yavva_alsoviewed_setup>
                <setup>
                    <module>Yavva_Alsoviewed</module>
                </setup>
            </yavva_alsoviewed_setup>
        </resources>
    </global>

    <frontend>
        <translate>
            <modules>
                <Yavva_Alsoviewed>
                    <files>
                        <default>Yavva_Alsoviewed.csv</default>
                    </files>
                </Yavva_Alsoviewed>
            </modules>
        </translate>
        <layout>
            <updates>
                <alsoviewed>
                    <file>yavva/alsoviewed.xml</file>
                </alsoviewed>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <alsoviewed>
                        <class>alsoviewed/observer</class>
                        <method>catalogProductView</method>
                    </alsoviewed>
                </observers>
            </controller_action_predispatch_catalog_product_view>
        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <alsoviewed after="Mage_Adminhtml">Yavva_Alsoviewed_Adminhtml</alsoviewed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <translate>
            <modules>
                <Yavva_Alsoviewed>
                    <files>
                        <default>Yavva_Alsoviewed.csv</default>
                    </files>
                </Yavva_Alsoviewed>
            </modules>
        </translate>
        <layout>
            <updates>
                <alsoviewed>
                     <file>yavva/alsoviewed.xml</file>
                </alsoviewed>
            </updates>
        </layout>
        <events>
            <catalog_product_prepare_save>
                <observers>
                    <alsoviewed>
                        <class>alsoviewed/observer</class>
                        <method>prepareProductSave</method>
                    </alsoviewed>
                </observers>
            </catalog_product_prepare_save>
            <catalog_product_save_after>
                <observers>
                    <alsoviewed>
                        <class>alsoviewed/observer</class>
                        <method>catalogProductSaveAfter</method>
                    </alsoviewed>
                </observers>
            </catalog_product_save_after>
        </events>
    </adminhtml>

    <crontab>
        <jobs>
            <alsoviewed_process_log>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>alsoviewed/observer::processLog</model>
                </run>
            </alsoviewed_process_log>
        </jobs>
    </crontab>

    <default>
        <alsoviewed>
            <content>
                <enabled>0</enabled>
                <title>People who viewed this product also viewed</title>
                <mode>grid</mode>
                <products_count>4</products_count>
                <column_count>4</column_count>
                <image_width>170</image_width>
                <image_height>170</image_height>
            </content>
            <left>
                <enabled>0</enabled>
                <title>You may also like</title>
                <mode>list</mode>
                <products_count>4</products_count>
                <column_count>3</column_count>
                <image_width>170</image_width>
                <image_height>170</image_height>
            </left>
            <right>
                <enabled>0</enabled>
                <title>You may also like</title>
                <mode>list</mode>
                <products_count>4</products_count>
                <column_count>3</column_count>
                <image_width>170</image_width>
                <image_height>170</image_height>
            </right>
            <perfomance>
                <chunk_size>500</chunk_size>
            </perfomance>
            <log>
                <ignore_user_agent>1</ignore_user_agent>
                <ignored_user_agent><![CDATA[008|Applebot|bingbot|facebookexternalhit|FlipboardProxy|googlebot|Googlebot|MetaURI|msnbot|redditbot|slurp|tm_crawler|TweetmemeBot|Twitterbot|Yandex]]></ignored_user_agent>
                <ignore_ip_address>0</ignore_ip_address>
                <ignored_ip_address></ignored_ip_address>
            </log>
        </alsoviewed>
    </default>
</config>
