<?xml version="1.0"?>
<config>
    <sections>
        <alsoviewed translate="label" module="alsoviewed">
            <label>Also Viewed Products</label>
            <tab>catalog</tab>
            <frontend_type>text</frontend_type>
            <sort_order>45</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <content>
                    <label>Product additional information</label>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="core">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <title translate="label" module="catalog">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <mode translate="label" module="catalog">
                            <label>List Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>alsoviewed/system_config_source_listMode</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                        <products_count translate="label" module="catalog">
                            <label>Display Product Count</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_count>
                        <column_count>
                            <label>Columns count</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <mode>
                                    <value>grid</value>
                                </mode>
                            </depends>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
                        <image_width translate="label" module="catalog">
                            <label>Image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_width>
                        <image_height translate="label" module="catalog">
                            <label>Image height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_height>
                    </fields>
                </content>
                <left>
                    <label>Left Column</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="core">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <title translate="label" module="catalog">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <mode translate="label" module="catalog">
                            <label>List Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>alsoviewed/system_config_source_listMode</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                        <products_count translate="label" module="catalog">
                            <label>Display Product Count</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_count>
                        <column_count>
                            <label>Columns count</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <mode>
                                    <value>grid</value>
                                </mode>
                            </depends>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
                        <image_width translate="label" module="catalog">
                            <label>Image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_width>
                        <image_height translate="label" module="catalog">
                            <label>Image height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_height>
                    </fields>
                </left>
                <right>
                    <label>Right Column</label>
                    <sort_order>30</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label" module="core">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <title translate="label" module="catalog">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <mode translate="label" module="catalog">
                            <label>List Mode</label>
                            <frontend_type>select</frontend_type>
                            <source_model>alsoviewed/system_config_source_listMode</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                        <products_count translate="label" module="catalog">
                            <label>Display Product Count</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </products_count>
                        <column_count>
                            <label>Columns count</label>
                            <frontend_type>text</frontend_type>
                            <depends>
                                <mode>
                                    <value>grid</value>
                                </mode>
                            </depends>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </column_count>
                        <image_width translate="label" module="catalog">
                            <label>Image width</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_width>
                        <image_height translate="label" module="catalog">
                            <label>Image height</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </image_height>
                    </fields>
                </right>
                <perfomance>
                    <label>Perfomance</label>
                    <sort_order>40</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <chunk_size translate="label comment">
                            <label>Relations count to process per one query</label>
                            <comment>You may need to decrease this value, if you found the "Got a packet bigger than 'max_allowed_packet' bytes" error in log</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </chunk_size>
                    </fields>
                </perfomance>
                <log>
                    <label>Log Settings</label>
                    <sort_order>50</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <fields>
                        <ignore_user_agent>
                            <label>Ignore crawlers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                        </ignore_user_agent>
                        <ignored_user_agent>
                            <label>Crawler's user agent regex</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <depends>
                                <ignore_user_agent>
                                    <value>1</value>
                                </ignore_user_agent>
                            </depends>
                            <show_in_default>1</show_in_default>
                        </ignored_user_agent>
                        <ignore_ip_address>
                            <label>Ignore specific ip addresses</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                        </ignore_ip_address>
                        <ignored_ip_address>
                            <label>Ip addresses (comma separated)</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <depends>
                                <ignore_ip_address>
                                    <value>1</value>
                                </ignore_ip_address>
                            </depends>
                            <show_in_default>1</show_in_default>
                        </ignored_ip_address>
                    </fields>
                </log>
            </groups>
        </alsoviewed>
    </sections>
</config>
